body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: white;
}
.page-nav a {
text-decoration: none;
}

.page-address a {
    text-decoration: none;
}

.logo{
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.studio {
    color: #2E2F42;
}

.page-nav{
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-nav a:hover {
    color: #404BBF;
}
.page-nav a:active {
    color: #404BBF;
}

.page-address {
    color: #434455;
    background-color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-address a:hover {
    color: #404BBF;
}
.page-nav a:active {
    color: #404BBF;
}

.title {
    color: white;
    background-color: #2e2f42;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    
}
.button title {
    color: white;
    background-color:#4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    cursor: pointer;
}
.button title:hover {
color: #404BBF;
}

.section_title {
    color: #434455;
    background-color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section_team_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
.section_team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.section_portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.page-footer {
color:#F4F4FD;
background-color: #2E2F42;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.page-footer a {
    text-decoration: none;
}